@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error:</h1>
<br />
<h2>@ViewBag.ErrorMessage</h2>
<br />
<h2 class="text-danger">Ocurrio un error al realizar su solicitud.</h2>

<div>
    <a class="btn btn-secondary" asp-action="Home">Regresar</a>
</div>