
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acerca de <a href="https://www.portafoliodenegocios.com.mx/">PORTAFOLIO DE NEGOCIOS S.A. DE C.V. SOFOM E.R.</a>.</p>
</div>


